lib
dist
coverage
/cache
/data
/temp
/private/

.env
.env.local

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
*.tsbuildinfo
tsconfig.temp.json

.eslintcache
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
